/* Estilos personalizados */
.donation-container {
  border: 2px solid black; /* Agrega un borde sólido de 2px de grosor y color negro */
  border-radius: 10px; /* Agrega esquinas redondeadas */
  padding: 20px; /* Agrega un relleno interno de 20px */
  background-color: #ffffff; /* Cambia el color de fondo a blanco */
}

/* Estilos para el título */
.donation-title {
  font-size: 32px;
  font-weight: bold;
  color: #dc3545; /* Cambia el color del título */
}

/* Estilos para el subtítulo */
.donation-subtitle {
  font-size: 24px;
  margin-top: 10px;
  color: #6c757d; /* Cambia el color del subtítulo */
}

/* Estilos para el texto de la opción de donación de PayPal */
.donation-text {
  font-size: 18px;
  color: #343a40; /* Cambia el color del texto */
}
